/*
header nav div ul li:hover {
    background-color:#1b1e21 ;
    opacity: 5%;
    color:#1d2124;

}
header nav div ul li a:hover {
    color: #1d2124;
}
*/
html {
    min-height: 100%;
    position: relative;
}

body{
    margin: 0 auto;
    margin-bottom: 25vh;
}
/*#footer{
    background-color: white;
}*/
footer {
    margin-bottom: -5px;
    color: white;
    /* margin-top: 21vh; */
    background-color: #1d2124;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;

}

footer a{
    color:#9dd1f2;
}
footer a:hover{
    border-radius: 3px;
    background:transparent;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

