/*
header nav div ul li:hover {
    background-color:#1b1e21 ;
    opacity: 5%;
    color:#1d2124;

}
header nav div ul li a:hover {
    color: #1d2124;
}
*/
html {
    min-height: 100%;
    position: relative;
}

body{
    margin: 0 auto;
    margin-bottom: 21rem;
}
/*#footer{
    background-color: white;
}*/
/*.main{
    margin-top: 3vh;
}*/
#carouselExampleInterval {
  margin-top: -5rem;
}

header{
    z-index: 2;
    padding: 0;
    position:relative;
    font-size: 1.3rem;
    /*min-width: 100%;*/
   /* min-height: 100%;*/

    /*margin-bottom: 50px;*/
}
header nav div div ul li{
    padding: 0;
    margin:0;
}

header nav div div ul li:hover{

    box-sizing: border-box;
    color: black;


}

header nav div div ul li a:hover{

}

footer {
    margin-bottom: -5px;
    color: white;
    /* margin-top: 21vh; */
    background-color: #1d2124;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25vh;
}

footer a{
    color:#9dd1f2;
}

footer a:hover{
    border-radius: 3px;
    background:transparent;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

